.cdm-calendar-dateover-modal{
    .modal-body{
        .cdm-dateover-icon{
            width: 280px;
            height: 112px;
            background-image: url("../icon/calendar-dateover-icon.png");
            background-repeat: no-repeat;
            //margin: auto auto;
            background-size : contain; //png 비율 알맞게
            display: inline-block;
            vertical-align: middle;
            max-width: 19.5rem;
        }
        .cdm-dateover-text-up{
            font-weight: bold;
            font-size: 1.25rem;
            color: $color-grey-1;
            letter-spacing: -0.05em;
            word-spacing: 0.01em;
            text-shadow: 0 0 1px rgba(0,0,0, 0.2);
        }
        .cdm-dateover-text-down{
            word-break: keep-all;
            letter-spacing: -0.05em;
            word-spacing: 0.01em;
            font-size: 0.9rem;
            color: $color-grey-4;
            text-shadow: 0 0 1px rgba(0,0,0, 0.2);

        }
    }
    .modal-footer{
        border-top: 0;
        .cdm-footer-container{
            margin-top: 0;
            margin-bottom: 0;
            .cdm-monthrent-btn{
                background-color: $color-primary;
                border-color: $color-primary;
                color: $color-white;
            }
            .cdm-reselection{
                font-size: 0.9rem;
                line-height: 1.5;
                letter-spacing: -0.5px;
                word-spacing: 0.01em;
                color: $color-grey-4;
            }
        }
    }
}