.cl-car-list {
    width: 100%;
}

.clc-car-list-component,
.clc-car-list-component-clone {
    margin-bottom: 1rem;
    background-color: $color-white;

}

.clc-car-list-component,
.clc-rent,
.clc-rent-option-container,
.clc-rent-option-text-plus {
    display: none !important;
}