.car-main{
    width: 100%;
    margin-top: 2rem;
}

.search-result-container{
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    padding-right: 15px;
}

.search-result{
    font-family: 'SpoqaHanSans';
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: -0.05em;
    word-spacing: 0.01em;
    color: #212529;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    word-wrap: break-word;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    
    text-shadow: 0 0 1px rgba(0,0,0, 0.2);

}

.check-box{
    //width: 10.75rem;
  //height: 2rem;
  
  align-items: center;
  //margin: 0 0 0 30.5rem;
  padding: 0.3125rem 0.625rem;
  border-radius: 13px;
  border: solid 1px $color-grey-7;
  background-color: $color-white;

}
.check-box-component{
  display: flex;
  flex-direction: row;
  justify-content: flex-end; //!important;
  //letter-spacing: -0.03em;
  align-items: center;
}


.circle{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 75px;
    border-style: solid;
    border-width: 1px;
    border-color: $color-grey-5;
    margin: 0.3125rem 0.1875rem 0.3125rem 0;
}

.text{
  font-family: 'SpoqaHanSans';
  font-size: 0.75rem;
  letter-spacing: -0.6px;
  line-height: 1.5;
  color: $color-grey-5;
}

.popularity,.price{
    margin-left: 0.625rem;
}