.car-box{
    padding: 1rem;
}

.car-list-component-car{
    //width: 19.010625rem;
    flex-grow: 0;
    padding: 0;
}


.real-car{
    width: 100%;
    //height: 18.245rem;
}

.car-picture{
    padding-bottom: 1rem;
    text-align: center;
    //height: 10.1156rem;
    //높이는 flex로 조절
    //flex-grow: 0;
}

.picture{
    margin: 0 1.939875rem 0.5rem;
    padding: 1rem;
    width: 13.125rem;
    //max-width: 210px;
    height: 7.375rem;
    background-image: url("../caricon/car.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
    
}


.discount{
    font-family: 'SpoqaHanSans';
  color: $color-primary;
  font-size: 0.84rem;
  letter-spacing: -0.05em;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    text-shadow: 0 0 1px rgba(0,0,0, 0.2);

  background-color: $color-discount;
}



.car-text{
    //height: 8.1275rem;
    width: 100%;
    flex-grow: 0;
}

.car-text-box{
    border-top: 0.99px;
    padding-top: 1rem;
}

.car-text-kinds-box{
    width:100%;
    //height:1.68125rem;
}

.car-text-kinds{
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    background-color: $time-color;
    height:auto;
    align-items: center;
    width: auto;

}

.car-text-kinds-icon{
    width: 16px;
    height: 16px;
    background-image: url("../car-kinds/car-kinds.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.car-text-kinds-text{
    display: inline-block;
    width: auto;
    margin-left: 0.25rem;
    font-size: 12px;
    font-family: 'SpoqaHanSans';
    letter-spacing: -0.6px;
    color: $color-car-text-kinds;
    text-shadow: 0 0 1px rgba(0,0,0, 0.2);

}   

.car-text-name{
    //height: 1.875rem;
    margin-bottom: 0.25rem;
    font-weight: bolder;
    font-size: 1.25rem;
    letter-spacing: -0.05em;
    word-spacing: 0.01em;
    font-family: 'SpoqaHanSans';
    color: $color-grey-1;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    word-break: keep-all;
}

.car-text-explan{
    //height: 1.333125rem;
    color: $color-grey-5;
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: -0.5px;
    word-spacing: 0.01em;
    font-weight: 400;
    font-family: 'SpoqaHanSans';
}

.car-text-money{
    //height: 1.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $color-primary;
    letter-spacing: -0.03em;
    word-wrap: break-word;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'SpoqaHanSans';

}

.car-option{
    width: 100%;
}

.person{
    
}
.person .icon{
    width: 17px;
    height: 16px;
    background-image: url("../option-icon/person.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.auto .icon{
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/auto.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}
.baggage .icon{
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/baggage.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}
.door .icon{
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/door.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}
.aircon .icon{
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/aircon.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.car-option{
    width: auto;
}

.car-option .text{
    margin-left: 0.25rem;
    width: auto;
    text-shadow: 0 0 0.15px $color-car-option-text;
    font-family: 'SpoqaHanSans';
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: -0.5px;
    letter-spacing: -0.05em;
    word-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: $color-car-option-text;
    //height: 1.333125rem;
}