.clc-car-list-component-car {
    flex-grow: 0;
    padding: 0;
}

.clc-car-picture {
    text-align: center;
}

.clc-picture {
    display: flex;
    width: 100%;
    max-width: 210px;
    margin-right: auto;
    margin-left: auto;
}

.clc-discount {
    color: $color-primary;
    font-size: 0.84rem;
    letter-spacing: -0.05em;
    word-spacing: 0.01em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    padding: 0.2rem 0.5rem;
    background-color: rgba(13, 111, 252, 0.1);
}

@media screen and (max-width: 992px) {
    .clc-discount {
        font-size: 0.625rem;
    }
}

.clc-car-text {
    width: 100%;
    flex-grow: 0;
}

@media screen and (min-width: 992px) {
    .clc-car-text-box {
        border-top: 1px solid #f3f3f3;
    }
}

.clc-car-text-kinds-box {
    width: 100%;
}

.clc-car-text-kinds {
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    background-color: $time-color;
    height: auto;
    align-items: center;
    width: auto;
}

.clc-car-text-kinds-icon {
    width: 16px;
    height: 16px;
    background-image: url("../car-kinds/car-kinds.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.clc-car-text-kinds-text {
    display: inline-block;
    width: auto;
    margin-left: 0.25rem;
    font-size: 12px;
    letter-spacing: -0.6px;
    color: $color-car-text-kinds;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

}

.clc-car-text-name {
    margin-bottom: 0.25rem;
    font-weight: bolder;
    font-size: 1.25rem;
    letter-spacing: -0.05em;
    word-spacing: 0.01em;
    color: $color-grey-1;
}

.clc-car-text-explan {
    color: $color-grey-5;
}

.clc-car-text-money {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $color-primary;
}

.clc-car-option {
    width: 100%;
}

.clc-person .clc-icon {
    width: 17px;
    height: 16px;
    background-image: url("../option-icon/person.png");
    background-repeat: no-repeat;
    background-size: contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.clc-auto .clc-icon {
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/auto.png");
    background-repeat: no-repeat;
    background-size: contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.clc-baggage .clc-icon {
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/baggage.png");
    background-repeat: no-repeat;
    background-size: contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.clc-door .clc-icon {
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/door.png");
    background-repeat: no-repeat;
    background-size: contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.clc-aircon .clc-icon {
    width: 16px;
    height: 17px;
    background-image: url("../option-icon/aircon.png");
    background-repeat: no-repeat;
    background-size: contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
}

.clc-car-option {
    width: auto;
}

.clc-car-option {

    .clc-aircon-box {
        display: none;
    }

    .clc-text {
        margin-left: 0.25rem;
        width: auto;
        text-shadow: 0 0 0.15px $color-car-option-text;
        color: $color-car-option-text;
    }
}