$blue-blue: #1a3ccd;
$color-grey-1: #1e1e1e;
$color-grey-2: #333333;
$color-grey-3: #494949;
$color-grey-4: #666666;
$color-grey-5: #999999;
$color-grey-6: #d4d4d4;
$color-grey-7: #f3f3f3;
$color-grey-8: #f8f8f8;
$bg-pc-section: #fafafa;
$bg-mobile: #f5f5f5;
$color-white: #ffffff;
$color-primary: #0d6ffc;
$color-primary-light: #ddebff;
$color-yellow-light: #fdff89;
$carmore-warning: #ff6362;
$color-secondary: #01efd5;
$color-red-dark: #9f1f13;
$color-secondary-palered: #fff3f3;
$carmore-secondary-skyblue: #94c0fe;
$color-success: #2fcf92;
$color-blue-pale: #5daef9;
$color-blue-dark: #2a49cc;
$color-rentcar: #f9fbff;
$color-discount: #eff4fe;
$color-car-text-kinds: #788aac;
$color-car-option-text: #424346;
$color-rent-name: #212529;