

.main .filter{
    width: 21.9rem;
    height: 48.25rem;
    
    border-radius: 16px;
    box-shadow: 0 4px 14px 0 rgba(177, 177, 177, 0.2);
    background-color: $color-white;
    margin: 1.5rem 0 0 4.7rem; //수정
    
}



.main .banner{
    width: 45.625rem;
    height: 8.063rem;
    background-color: $color-primary;
    margin: 1.5rem 4.8rem 2rem 0;
    border-radius: 16px;
    
}

