@import "colors.scss";




header {
    //width: 90rem;
    height: 5rem;
    padding: 1.5rem 0 0 0.08rem;
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.0625rem solid $color-grey-7;
}

.headers {
    width: 27.313rem;//24->29
    height: 1.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.063rem;
    margin: 0.1rem 28.125rem 0 4.713rem;
    padding: 0;
    
}

.carmoa{
    background-image: url("../logo/logo-carmore@3x.png");
    background-repeat: no-repeat;
    width: 6rem;
    height: 1.75rem;
    margin-right: 0.48rem;
    padding: 0.063rem 0.069rem 0.097rem 0.069rem;
    background-size : contain; //png 비율 알맞게
  }

.hom {
    width: 0.8rem;
    height: 1.5rem;
    flex-grow: 0;
    font-family: 'SpoqaHanSans';

    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: left;
    color: $color-grey-4;
}

.dangi{
    width: 3.563rem;
    height: 1.5rem;
    flex-grow: 0;
    font-family: 'SpoqaHanSans';
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: left;
    color: $color-primary;
}

.wal, .event{
    width: 2.688rem;
    height: 1.5rem;
    flex-grow: 0;
    font-family: 'SpoqaHanSans';
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: left;
    color: $color-grey-4;
}

.mypage{
    width: 4.438rem;
    height: 1.5rem;
    flex-grow: 0;
    font-family: 'SpoqaHanSans';
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: left;
    color: $color-grey-4;
}
