

header {
    //width: 90rem;
    height: 5rem;
    padding: 1.38rem 0 0;
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $color-grey-7;
    z-index: 999;
}

.hh-headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    margin: 0.1rem 28.125rem 0 4.713rem;
    padding: 0;
    .container{
        gap: 5px;
    }
}

.hh-carmoa{
    width: 96px;
    height: 28px;
    background-image: url("../logo/logo-carmore@3x.png");
    background-repeat: no-repeat;
    //margin: auto auto;
    background-size : contain; //png 비율 알맞게
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
    padding: 0.063rem 0.069rem 0.097rem 0.069rem;
}

.hh-hom {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: $color-grey-4;
}


.hh-short-rental{
    margin-left: 0.5rem;
    font-size: 1rem;
    color: $color-primary;
}

.hh-month-rental, .hh-event{
    margin-left: 0.5rem;
    font-size: 1rem;
    color: $color-grey-4;
}

.hh-mypage{
    margin-left: 0.5rem;
    font-size: 1rem;
    color: $color-grey-4;
}



