.main-container{
    
    margin: 0 61.667px;
}


.filter{
    width: 100%;
    height: 50.46125rem;
    border-radius: 16px;
    box-shadow: 0 4px 14px 0 rgba(177, 177, 177, 0.2);
    background-color: $color-white;
}



.banner{
    width: 100%;
    height: 8.125rem;
    margin-bottom: 0.5rem;
    background-color: $color-primary;
    border-radius: 16px;
    
}

