.mm-my-location {
    text-align: center;

    .mm-my-location-button {
        position: relative;
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 50px;
        padding: 12px 27px;
        box-shadow: 0 4px 14px 0 #4d4d4d33;
        background-color: #0d6ffc;

        .mm-location-icon {
            width: 25px;
            height: 25px;
            margin-right: 8px;
            vertical-align: middle;
            border-style: none;
            background-repeat: no-repeat;
            background-size: cover; //배경에 딱맞게
            display: inline-block;
            background-image: url("../icon/my-location.png");
            z-index: 100;
            position: relative;
        }

        .mm-location-text {
            font-size: 0.9rem;
            letter-spacing: -0.05em;
            word-spacing: 0.01em;
            color: $color-white;
            font-weight: bold;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        }
    }
}