.nc-container {
    display: none;
    margin-top: 30px;

    .nc-icon {
        width: 400px;
        height: 160px;
        background-image: url("../icon/no-car-icon.png");
        background-repeat: no-repeat;
        background-size: contain; //png 비율 알맞게
        display: inline-block;
        vertical-align: middle;
        max-width: 25rem;
    }

    .nc-text-top {
        color: $color-grey-2;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: -0.05em;
        word-spacing: 0.01em;
        line-height: 1.2;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    }

    .nc-text-bottom {
        color: $color-grey-5;
        font-size: 0.9rem;
        line-height: 1.5;
        letter-spacing: -0.5px;
        word-spacing: 0.01em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    }

    button {
        border-radius: 6.1875rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}