$danger: #F2F2F2;

@import "bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "colors.scss";
@import "header.scss";
@import "menu-calendar-bar.scss";
@import "bodys.scss";

@import "filter.scss";
@import "car-result-title.scss";
@import "car-kinds.scss";
@import "car-list.scss";
@import "car.scss";
@import "rent.scss";
@import "more-button.scss";
@import "footer.scss";
@import "main.scss";
@import "reserved-cars.scss";
@import "delivery-modal.scss";
@import "menu-modal.scss";
@import "my-location.scss";
@import "search-result-all-remove-modal.scss";
@import "calendar-modal.scss";
@import "location-toasts.scss";
@import "calendar-dateover-modal.scss";
@import "no-cars.scss";

@font-face {
  font-family: 'SpoqaHanSans';
  src: url('../SpoqaHanSans_subset/Spoqa Han Sans Regular.woff') format('truetype');
  //font-weight: normal;
  //font-style: normal;
}

html{
  -webkit-tap-highlight-color: rgba(30, 30, 30, 0);
}


body {
  //width: 90rem;
  //height: 104.188rem;
  //flex-grow: 0;
  padding: 0 0 2.25rem;
  background-color: $bg-pc-section;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #424346;
  text-align: left;
  font-family: 'SpoqaHanSans';
  letter-spacing: -0.03em;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
}

.no-scroll{
  overflow: hidden;
}