div(tabindex="-1",aria-labelledby="dateoverModalLabel",aria-hidden="true", data-backdrop="true", data-keyboard="true",data-pageview="0", aria-modal="true").cdm-calendar-dateover-modal.modal.show.fade.pr-0#dateoverModal
    div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        //-::before
        div.modal-content
            div.modal-header
                h5.modal-title#dateoverModalLabel
                button(type="button").x-btn.close#js_dateover_modal_close_btn
                    div.x-box
                        div(aria-hidden="true").x.align-bottom &times;
            div.modal-body
                div.cdm-dateover-icon.mx-auto.d-block.w-100.px-3
                h3.cdm-dateover-text-up.text-center.mt-3
                    span 15일 이상 빌릴 땐
                    br
                    span 카모아 월렌트를 이용해주세요!
                p.cdm-dateover-text-down.mb-0.text-center.mt-2 길게 빌릴수록 합리적인 가격에 이용이 가능합니다
            div.modal-footer.d-block
                div.cdm-footer-container.d-flex.flex-column.px-2.pb-2.mx-auto
                    button.cdm-monthrent-btn.btn 월렌트로 이용해볼래요!
                    a.cdm-reselection.text-center.mt-2.clickable#js_calendar_reselection_btn 날짜를 다시 선택 할게요.
                
