div(tabindex="-1",aria-labelledby="calendarModalLabel",aria-hidden="true").cm-calendar-modal.modal.fade.pr-0#calendarModal
    div.modal-dialog.modal-dialog-scrollable.modal-dialog-centered.modal-lg
        div.modal-content
            div.modal-header
                //-여기부터 해
                h5.modal-title#calendarModalLabel 날짜 및 시간 선택
                button(type="button",data-dismiss="modal",aria-label="Close").x-btn.close
                    div.x-box
                        div(aria-hidden="true").x.align-bottom &times;
            div.cm-modal-calendar-selector-container.d-block.py-2
                div.cm-modal-calendar-selector.container.px-0
                    div.cm-calendar-time-view.d-flex.justify-content-between
                        div.cm-calendar-time-view-left.d-flex.align-items-center.flex-grow-1
                            div.cm-time-icon#js_timeicon
                            div.cm-time-text.d-flex.flex-grow-1.justify-content-start
                                div.cm-time-text-1
                                    span.cm-date.mr-1#js_rent_start_date_text1 7/19/월
                                    span.cm-time#js_rent_start_date_text2 10:00
                                div.cm-time-text-2
                                    div.cm-direction-icon.mx-1
                                div.cm-time-text-3#js_rent_end_date_text
                                    span.cm-date.mr-1#js_rent_end_date_text1 7/20/화
                                    span.cm-time#js_rent_end_date_text2 10:00
                        div.cm-calendar-time-view-right.d-flex.align-items-center#js_rent_all_time
                            p.cm-all-time.mb-0
                                strong.cm-all-day-num#js_rent_all_time_days_num 3
                                span.cm-all-day-text.mr-1#js_rent_all_time_days_text 일
                                strong.cm-all-time-num#js_rent_all_time_hours_num 24
                                span.cm-all-time-text#js_rent_all_time_hours_text 시간
                    div.cm-calendar-time-selector.container
                        div.row
                            div.col
                                div.cm-start-time.mb-0
                                    label
                                        span.badge 시작
                                        span.cm-label-text 대여시간
                                    select.custom-select#js_rent_start_time
                                        //-07:00:00
                                        
                            div.col
                                div.cm-end-time.mb-0
                                    label
                                        span.badge 끝
                                        span.cm-label-text 반납시간
                                    select.custom-select#js_rent_end_time
                                        
                

            div.modal-body
                div.cm-calendar-container.container.px-3.pt-3
                    label 날짜 선택
                    div.cm-week.d-flex.justify-content-around
                        div.cm-sunday 일
                        div.cm-monday 월
                        div.cm-tuesday 화
                        div.cm-wednesday 수
                        div.cm-thursday 목
                        div.cm-friday 금
                        div.cm-saturday 토
                    div.cm-calendar#js_calendar
                    include calendar-dateover-modal.pug
                        
            div.modal-footer
                button(type="button",data-dismiss="modal").border-0.btn.cm-back-btn#js_calendar_back_btn 뒤로
                button(type="button").btn.btn-lg.cm-apply-btn#js_calendar_apply_btn 적용하기
