div.cstct-calendar-start-time-change-toasts.position-fixed.bottom-0.start-0.p-0#js_calendar_start_time_change_toasts
    div(role="alert",aria-live="assertive",aria-atomic="true",data-delay="2000").toast.hide.clickable#js_calendar_start_time_change_toast
    
        div.toast-body.d-flex.flex-row.align-items-center.justify-content-end
            div.toast-icon.rounded
            div.toast-text 최소 대여시간보다 작아서 대여시간이 변경되었습니다.