div.comt-calendar-one-more-toasts.position-fixed.bottom-0.start-0.p-0#js_calendar_one_more_toasts
    div(role="alert",aria-live="assertive",aria-atomic="true",data-delay="2000").toast.hide.clickable#js_calendar_one_more_toast
    
        div.toast-body.d-flex.flex-row.align-items-center.justify-content-end
            div.toast-icon.rounded
            div.toast-text 반납일은 대여일 1일 이후부터 지정하실 수 있습니다. 