//-동작 수정
button(type="button").calendar-bar.btn
    div.calendar-component
        div.calendar-start-text 7/9/금 10:00
        div.calendar-time-icon
            div.calendar-time-text 24시간
        div.calendar-end-text 7/10/토 10:00

