nav.nav.car-main.float-right.d-flex.justify-content-between
    div.search-result 검색결과
    div.check-box
        div.check-box-component
            a.car-kinds-list
                div.circle
                div.text 차종순
            a.popularity
                div.circle
                div.text 인기순
            a.price
                div.circle
                div.text 가격순
            //-수정해