div.crt-car-result-title.d-flex.align-items-center
    div.crt-car-search-result-container
        h2.crt-car-search-result 검색결과
    div.crt-check-box.mb-3
        div.crt-check-box-component.d-flex.justify-content-end
            div.crt-car-kinds-list.d-flex.clickable.crt-check-box-active#js_type
                span.crt-circle
                span.crt-text 차종순
            div.crt-popularity.d-flex.clickable#js_popular
                span.crt-circle
                span.crt-text 인기순
            div.crt-price.d-flex.clickable#js_price
                span.crt-circle
                span.crt-text 가격순
            //-수정해