div.ck-car-kinds-container-box
    div.ck-car-kinds-container
        div.ck-car-kinds.d-lg-flex.flex-row.btn-group
            button.ck-all-car.flex-fill.ck-car-kinds-car.ck-car-kinds-active#js_all_car
                span.ck-label 전체
            button.ck-electronic-car.flex-fill.ck-car-kinds-car#js_electronic_car
                span.ck-label 전기
            button.ck-small-car.flex-fill.ck-car-kinds-car#js_small_car
                span.ck-label 경소형
            button.ck-normal-car.flex-fill.ck-car-kinds-car#js_normal_car
                span.ck-label 준중형
            button.ck-big-car.flex-fill.ck-car-kinds-car#js_big_car
                span.ck-label 중대형
            button.ck-suv-car.flex-fill.ck-car-kinds-car#js_suv_car
                span.ck-label SUV
            button.ck-rv-car.flex-fill.ck-car-kinds-car#js_rv_car
                span.ck-label 승합
            button.ck-foreign.flex-fill.ck-car-kinds-car#js_foreign_car
                span.ck-label 수입
    