nav.nav.car-kinds.d-flex.float-right.justify-content-between
    span.all-car.p-2.flex-fill.car-kinds-car 전체
    span.electronic-car.p-2.flex-fill.car-kinds-car 전기
    span.small-car.p-2.flex-fill.car-kinds-car 경소형
    span.normal-car.p-2.flex-fill.car-kinds-car 준중형
    span.big-car.p-2.flex-fill.car-kinds-car 중대형
    span.suv-car.p-2.flex-fill.car-kinds-car SUV
    span.rv-car.p-2.flex-fill.car-kinds-car 승합
    span.foreign.p-2.flex-fill.car-kinds-car 수입
    