div.car-kinds-container-box
    div.car-kinds-container
        div.car-kinds.d-lg-flex.flex-row.btn-group(role="group")
            button(type="button").all-car.flex-fill.car-kinds-car.btn
                span.label 전체
            button(type="button").electronic-car.flex-fill.car-kinds-car.btn
                span.label 전기
            button(type="button").small-car.flex-fill.car-kinds-car.btn
                span.label 경소형
            button(type="button").normal-car.flex-fill.car-kinds-car.btn
                span.label 준중형
            button(type="button").big-car.flex-fill.car-kinds-car.btn
                span.label 중대형
            button(type="button").suv-car.flex-fill.car-kinds-car.btn
                span.label SUV
            button(type="button").rv-car.flex-fill.car-kinds-car.btn
                span.label 승합
            button(type="button").foreign.flex-fill.car-kinds-car.btn
                span.label 수입
    