div.clc-car-list-component.d-flex.flex-column
    div.row.no-gutters
        //-차
        div.clc-car-list-component-car.align-self-stretch.col-12.col-lg-5
            div.clc-car-box.pt-3.pb-2.px-1.p-lg-3
                div.clc-real-car.row.no-gutters
                    div.clc-car-picture.col-6.col-lg-12.pb-lg-3
                        img(src="https://d1masd123hbmlx.cloudfront.net/20181023004239_671_CARMST/20181023004239_671_CARMST_214.png").clc-picture.px-2.p-lg-3.mb-2
                        div.clc-discount-container.d-flex.justify-content-center.align-items.center
                            span.clc-discount.badge.badge-soft-primary
                                
                    div.clc-car-text.col-6.col-lg-12.d-flex.flex-column.justify-content-center
                        //-
                        div.clc-car-text-box.border-danger.pt-lg-3
                            div.clc-car-text-kinds-box
                                div.clc-car-text-kinds.d-inline-flex.align-items-center
                                    div.clc-car-text-kinds-icon
                                    span.clc-car-text-kinds-text
                            div.clc-car-text-name
                            div.clc-car-text-explan.text-12
                            div.clc-car-text-money
                //-flex
                div.clc-car-option.d-flex.flex-wrap.justify-content-between.align-items-center.text-12.px-3.px-lg-0
                    div.clc-person-box.pr-4.pt-2
                        div.clc-person.d-flex.align-items-center
                            div.clc-icon
                            span.clc-text
                    div.clc-auto-box.pr-4.pt-2
                        div.clc-auto.d-flex.align-items-center
                            div.clc-icon
                            span.clc-text
                    div.clc-baggage-box.pr-4.pt-2
                        div.clc-baggage.d-flex.align-items-center
                            div.clc-icon
                            span.clc-text
                    div.clc-door-box.pr-4.pt-2
                        div.clc-door.d-flex.align-items-center 
                            div.clc-icon
                            span.clc-text
                    div.clc-aircon-box.pr-4.pt-2
                        div.clc-aircon.d-flex.align-items-center
                            div.clc-icon
                            span.clc-text 에어컨
            
                //-span.real-car
                //-span.white-background
        //-렌트카 (여러개일수)
        div.clc-car-list-component-rent.col-12.col-lg-7#js_clone_test_component_rent
            div.clc-rent
                div.clc-rent-company.mb-3.d-flex.flex-row.align-itmes-center
                    div.clc-rent-company-name-umo.col-9
                        //-name 옆에 img 오는듯
                        div.clc-rent-company-name.d-flex.flex-row.align-items-start
                            h3.clc-name.mr-1.mb-0
                            img(data-toggle="modal").clc-delivery.clickable
                            include delivery-modal.pug
                        div.clc-rent-company-umo.d-flex.flex-row.align-items-center.mt-1
                            div.clc-check-icon
                            span.clc-umo.mb-0.text-12
                    div.clc-rent-company-score-reserve.col-3
                        div.clc-rent-company-score.d-flex.flex-row.align-items-center.justify-content-end
                            div.clc-star-icon.mr-1
                            span.clc-score.text-12
                        div.clc-rent-company-reserve.mt-1.mb-0.text-right.text-12
                //-여러개일수
                div.clc-rent-option-container
                    div.clc-rent-option-box-1
                        div.clc-rent-option-box.mb-2
                            //-flex
                            div.clc-rent-option#js_test_option
                                //-여기에 ht닮
                                div.clc-rent-option-top
                                    div.clc-rent-option-title.d-flex.justify-content-between.align-items-center
                                        div.clc-rent-option-year-oil
                                            //-있을수도 없을수도
                                            div.clc-good.mr-1
                                            span.clc-year.mb-0.text-12
                                            //-ㆍ
                                            span ㆍ
                                            span.clc-oil.mb-0.text-12
                                        div.clc-rent-option-original-money.mb-0.text-right
                                    //-1/2개일수
                                    div.clc-rent-option-text.d-flex.justify-content-between.align-items-center
                                    
                                        div.clc-rent-option-safeicon-old.d-flex.align-items-center
                                            div.clc-safeicon.mr-1
                                            span.clc-old.mb-0.text-12
                                        div.clc-rent-option-discount-money.d-flex.align-items-center
                                        
        
                                            div.clc-insurance.mr-1.text-12
                                                span.clc-insurance-text-top 일반자차
                                                span.clc-insurance-text-bottom  포함가
                                            //-숫자 + 원
                                            span.clc-discount-result.mb-0.text-right
                                //-2개일 때만 display되게 + 마지막 element는 display:none
                                hr.clc-line#js_test_1
                                //-if 2개라면
                                div.clc-rent-option-text-plus.d-flex.justify-content-between.align-items-center
                                    div.clc-rent-option-safeicon-old.d-flex.align-items-center
                                            div.clc-safeicon.mr-1
                                            span.clc-plus-old.mb-0
                                    div.clc-rent-option-discount-money.d-flex.align-items-center
                                        
        
                                        div.clc-insurance.mr-1
                                            span.clc-insurance-text-top 일반자차
                                            span.clc-insurance-text-bottom  포함가
                                        //-숫자 + 원
                                        div.clc-plus-discount-result.mb-0.text-right
    //-마감일때만
    div.clc-reserved-car-container.text-center
        div.clc-reserved-car
            p.clc-reserved-car-text.text-12