div.car-main.d-flex.align-items-center
    div.search-result-container
        h2.search-result 검색결과
    div.check-box.mb-3
        div.check-box-component.d-flex.justify-content-end
            div.car-kinds-list.d-flex
                span.circle
                span.text 차종순
            div.popularity.d-flex
                span.circle
                span.text 인기순
            div.price.d-flex
                span.circle
                span.text 가격순
            //-수정해