div.car-kinds-container-box
    div.car-kinds-container
        div.car-kinds.d-lg-flex.flex-row
            button.all-car.flex-fill.car-kinds-car
                span.label 전체
            button.electronic-car.flex-fill.car-kinds-car
                span.label 전기
            button.small-car.flex-fill.car-kinds-car
                span.label 경소형
            button.normal-car.flex-fill.car-kinds-car
                span.label 준중형
            button.big-car.flex-fill.car-kinds-car
                span.label 중대형
            button.suv-car.flex-fill.car-kinds-car
                span.label SUV
            button.rv-car.flex-fill.car-kinds-car
                span.label 승합
            button.foreign.flex-fill.car-kinds-car
                span.label 수입
    