div.ck-car-kinds-container-box.d-none.d-lg-block
    div.ck-car-kinds-container
        div.ck-car-kinds.d-lg-flex.flex-row.btn-group
            button.ck-c-type.ck-all-car.flex-fill.ck-car-kinds-car.ck-car-kinds-active#js_all
                span.ck-label 전체
            button.ck-c-type.flex-fill.ck-car-kinds-car#js_elec
                span.ck-label 전기
            button.ck-c-type.flex-fill.ck-car-kinds-car#js_small
                span.ck-label 경소형
            button.ck-c-type.flex-fill.ck-car-kinds-car#js_middle
                span.ck-label 준중형
            button.ck-c-type.flex-fill.ck-car-kinds-car#js_big
                span.ck-label 중대형
            button.ck-c-type.flex-fill.ck-car-kinds-car#js_suv
                span.ck-label SUV
            button.ck-c-type.flex-fill.ck-car-kinds-car#js_rv
                span.ck-label 승합
            button.ck-c-type.ck-foreign.flex-fill.ck-car-kinds-car#js_import
                span.ck-label 수입
    