div.dm-delivery-modal-container
    div(tabindex="-1",aria-labelledby="deliveryModalLabel",aria-hidden="true").dm-delivery-modal.modal.fade.pr-0#deliveryModal
        div.modal-dialog.modal-dialog-scrollable.modal-dialog-centered.modal-md
            div.modal-content
                div.modal-header
                    h5.modal-title#deliveryModalLabel
                    button(type="button",data-dismiss="modal",aria-label="Close").x-btn.close
                        div.x-box
                            div(aria-hidden="true").x.align-bottom &times;
                div.modal-body
                    div.dm-delivery-title.d-flex.justify-content-start.align-items-center
                        div.dm-delivery-icon.mr-1
                        span.dm-delivery-text 배달 가능 지역
                    div.dm-delivery-body#js_delivery_modal_body
                        //-여러개일수(지역-시)
                div.modal-footer
                    button(type="button",data-dismiss="modal") 확인
    div.dm-delivery-body-element.d-flex.justify-content-start.align-items-start.py-3
    //-원래 한칸 안
    div.dm-delivery-body-element-left.w-25
    div.dm-delivery-body-element-right.w-75
    //-여러개(지역-동네)//-원래 한칸 안
    span.dm-right-elements.d-inline-flex.mr-2.align-items-center
        div.dm-delivery-body-element-right-icon
        span.dm-delivery-body-element-right-text






    hr.dm-hr.py-0.my-0
    div.dm-delivery-body-element-gyeonggi.py-3
        div.dm-gyeonggi-title.pb-2 경기
    //-여러개(경기 시)
    div.dm-gyeonggi-element.d-flex.justify-content-start.align-items-start.pb-3
    //-원래 한칸 안
    div.dm-delivery-body-element-left.w-25
    div.dm-delivery-body-element-right.w-75
    //-여러개(경기 구)//-원래 한칸 안
    span.dm-right-elements.d-inline-flex.mr-2.align-items-center
        div.dm-delivery-body-element-right-icon
        span.dm-delivery-body-element-right-text

        //-한개 (title없는 경기 시들)        
        //- div.dm-gyeonggi-element.d-flex.justify-content-start.align-items-start.pb-3
        //-     div.dm-delivery-body-element-left.w-25
        //-     div.dm-delivery-body-element-right.w-75
        //-         span.d-inline-flex.mr-2.align-items-center
        //-             div.dm-delivery-body-element-right-icon
        //-             span.dm-delivery-body-element-right-text 광명시
        //-         span.d-inline-flex.mr-2.align-items-center
        //-             div.dm-delivery-body-element-right-icon
        //-             span.dm-delivery-body-element-right-text 김포시(일부)
        //-         span.d-inline-flex.mr-2.align-items-center
        //-             div.dm-delivery-body-element-right-icon
        //-             span.dm-delivery-body-element-right-text 부천시
        //-         span.d-inline-flex.mr-2.align-items-center
        //-             div.dm-delivery-body-element-right-icon
        //-             span.dm-delivery-body-element-right-text 시흥시
        //-         span.d-inline-flex.mr-2.align-items-center
        //-             div.dm-delivery-body-element-right-icon
        //-             span.dm-delivery-body-element-right-text 파주시(일부)