doctype html
html
    include head.pug
    body
        header
            include header.pug
            
        div.bodys
            div.menu-calendar-bar
                
                include menu.pug 
                include calendar.pug 
            div.main
                div.filter.float-left
                div.banner.float-right
                include car-main.pug
                include car-kinds.pug
                include car-list.pug

            