doctype html
html
    include head.pug
    body
        header
            include header-headers.pug
            
        div.bodys
            include menu-calendar-bar.pug
            div.main-container.container
                div.main.d-flex.flex-row
                    div.left.align-self-stretch.col-lg-4
                        div.filter
                    div.right.align-self-stretch.col-lg-8
                        div.banner
                        include car-result-title.pug
                        include car-kinds.pug
                        include car-list.pug
            include mobile-top-bar.pug
        footer
            include footer.pug
        