div.lt-location-toasts.position-fixed.bottom-0.start-0.p-0#js_location_toasts
    div(role="alert",aria-live="assertive",aria-atomic="true",data-delay="2000").toast.hide.clickable#js_location_toast
    
        div.toast-body.d-flex.flex-row.align-items-center.justify-content-end
            div.toast-icon.rounded
            div.toast-text PC에서는 내위치 찾기 기능이 제공되지 않습니다.