div.mcb-container.d-none.d-lg-block#js_menu_calendar_bar
    div.mcb-bar.py-3.container
        div.row
            include menu.pug
            include calendar.pug
        
include menu-modal.pug
include calendar-modal.pug
include search-result-all-remove-modal.pug
include calendar-dateover-modal.pug