div.nc-container#js_no_cars
    div.text-center
        div
            div.nc-icon.align-items-center.mb-3.px-5.mx-auto
        div
            h4.nc-text-top.mb-2
                span 아이코! T_T
                br
                span 해당 필터 조건에 맞는 차량이 없습니다.
            p.nc-text-bottom 필터를 초기화하시면 더 많은 차량들을 찾아드려요!
        button.btn.btn-primary.py-3.mx-auto.clickable
            div.mr-2
            span.nc-btn-text 필터 초기화