div.no-container#js_no_old
    div.text-center
        div
            div.no-icon.align-items-center.mb-3.px-5.mx-auto.px-lg-0.max-w-lg-50rem
        div
            div.no-text.text-14 카모아는 보험 조건이 만 21세 미만인 렌트카를 국내에서 판매하지 않습니다.
            button.no-detail-btn.mt-2 자세히 알아보기

        button.btn.btn-primary.py-3.mx-auto.clickable.mt-5.px-5#js_filter_reset_btn_21
            div.mr-2
            span.no-btn-text 필터 초기화