div(tabindex="-1",aria-labelledby="allremoveModalLabel",aria-hidden="true", data-backdrop="true", data-keyboard="true",data-pageview="0", aria-modal="true").srarm-allremove-modal.modal.show.fade.pr-0#allremoveModal
    div.modal-dialog.modal-dialog-centered.modal-sm
        //-::before
        div.modal-content
            div.modal-header.pb-0
                h5.modal-title#allremoveModalLabel
                button(type="button").x-btn.close#js_all_delete_cancel_btn1
                    div.x-box
                        div(aria-hidden="true").x.align-bottom &times;
            div.modal-body.text-center
                p.srarm-search-result-all-remove-text.mb-0 최근 검색기록을 전체 삭제하시겠어요?
            div.modal-footer
                button(type="button").cansel-btn.btn.btn-white.border-0#js_all_delete_cancel_btn2 취소
                button(type="button").delete-btn.btn-pill.btn-lg.px-6#js_all_delete_close_btn 삭제
                
